<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ukettle.widget.kettle.mapper.KettleSpoonMapper">

	<resultMap id="result_spoon_repos" type="K_Spoon">
		<result property="rid" column="rid" />
		<association property="repo" column="rid" javaType="String"
			select="com.ukettle.widget.kettle.mapper.KettleReposMapper.selectById" />
	</resultMap>
	
	<insert id="insert" parameterType="K_Spoon">
		insert into K_SPOON (
			id
			, rid
			, type
			, status
			, method
			, dir
			, logs
			, async
			, params
			, remark
			, creator
			, created
			, modifier
			, modified
		)
		values (
			#{id}
			,#{rid}
			,#{type}
			,#{status}
			,#{method}
			,#{dir}
			,#{logs}
			,#{async}
			,#{params}
			,#{remark}
			,#{creator}
			,#{created}
			,#{modifier}
			,#{modified}
		)
	</insert>

	<delete id="delete" parameterType="K_Spoon">
		delete from K_SPOON where id = #{id}
	</delete>

	<update id="update" parameterType="K_Spoon">
		update K_SPOON
		<set>
			<if test="rid != null and rid != '' ">
				rid = #{rid},
        	</if>
			<if test="type != null and type != '' ">
				type = #{type},
			</if>
			<if test="status != null and status != '' ">
				status = #{status},
			</if>
			<if test="method != null and method != '' ">
				method = #{method},
        	</if>
			<if test="dir != null and dir != '' ">
				dir = #{dir},
        	</if>
			<if test="logs != null and logs != '' ">
				logs = #{logs},
        	</if>
			<if test="async != null and async != '' ">
				async = #{async},
        	</if>
			<if test="params != null and params != '' ">
				params = #{params},
        	</if>
			<if test="remark != null and remark != '' ">
				remark = #{remark},
        	</if>
			<if test="creator != null and creator != '' ">
				creator = #{creator},
        	</if>
			<if test="created != null and created != '' ">
				created = #{created},
        	</if>
			<if test="modifier != null and modifier != '' ">
				modifier = #{modifier},
        	</if>
			<if test="modified != null and modified != '' ">
				modified = #{modified}
        	</if>
		</set>
		where id = #{id}
	</update>

	<select id="select" parameterType="K_Spoon" resultMap="result_spoon_repos">
		<![CDATA[
			SELECT id
				, rid
				, type
				, status
				, method
				, dir
				, logs
				, async
				, params
				, remark
				, creator
				, created
				, modifier
				, modified
			FROM K_SPOON
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null">
				id = #{id}
		    </if>
		</trim>
	</select>

	<select id="selectByWhere" parameterType="K_Spoon"
		resultMap="result_spoon_repos"> 
		<![CDATA[
			SELECT id
			    , rid
				, type
				, status
				, method
				, dir
				, logs
				, async
				, params
				, remark
				, creator
				, created
				, modifier
				, modified
			FROM K_SPOON
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null">
				id = #{id}
			</if>
			<if test="rid != null">
				and rid = #{rid}
        	</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="method != null">
				and method = #{method}
        	</if>
			<if test="dir != null">
				and dir = #{dir}
        	</if>
			<if test="logs != null">
				and logs = #{logs}
        	</if>
			<if test="creator != null">
				and creator = #{creator}
        	</if>
			<if test="created != null">
				and created = #{created}
        	</if>
			<if test="modifier != null">
				and modifier = #{modifier}
        	</if>
			<if test="modified != null">
				and modified = #{modified}
        	</if>
		</trim>
		order by created desc
	</select>

</mapper>