<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ukettle.system.mapper.UserMapper">

	<insert id="insert" parameterType="U_ALL_User">
		insert into U_ALL_USER (
			id
			, name
			, type
			, status
			, password
			, random
			, email
			, mobile
			, remark
			, creator
			, created
		)
		values (
			#{id},
			#{name},
			#{type},
			#{status},
			#{password},
			#{random},
			#{email},
			#{mobile},
			#{remark},
			#{creator},
			#{created}
		)
	</insert>

	<delete id="delete" parameterType="U_ALL_User">
		delete from U_ALL_USER where id =
		#{id}
	</delete>

	<update id="update" parameterType="U_ALL_User">
		update U_ALL_USER
		<set>
			<if test="name != null and name != '' ">
				name = #{name},
        	</if>
			<if test="type != null and type != '' ">
				type = #{type},
        	</if>
			<if test="status != null and status != '' ">
				status = #{status},
        	</if>
			<if test="password != null and password != '' ">
				password = #{password},
			</if>
			<if test="random != null and random != '' ">
				random = #{random},
			</if>
			<if test="email != null and email != '' ">
				email = #{email},
        	</if>
			<if test="mobile != null and mobile != '' ">
				mobile = #{mobile},
        	</if>
			<if test="remark != null and remark != '' ">
				remark = #{remark}
        	</if>
		</set>
		where id = #{id}
	</update>

	<select id="select" parameterType="U_ALL_User" resultType="U_ALL_User">
		<![CDATA[
			SELECT id
		     , name
		     , type
		     , status
		     , password
		     , random
		     , email
		     , mobile
		     , remark
		     , creator
		     , created
			FROM U_ALL_USER
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null">
				id = #{id}
		    </if>
		    <if test="status != null">
				and status = #{status}
		     </if>
			<if test="email != null">
				and email = #{email}
		     </if>
		</trim>
	</select>

	<select id="selectByWhere" parameterType="U_ALL_User" resultType="U_ALL_User"> 
		<![CDATA[
			SELECT  id
		     , name
		     , type
		     , status
		     , password
		     , random
		     , email
		     , mobile
		     , remark
		     , creator
		     , created
			FROM U_ALL_USER
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null">
				id = #{id}
		    </if>
			<if test="name != null">
				and name = #{name}
		     </if>
			<if test="type != null">
				and type = #{type}
		     </if>
			<if test="status != null">
				and status = #{status}
		     </if>
			<if test="email != null">
				and email = #{email}
		     </if>
			<if test="mobile != null">
				and mobile = #{mobile}
		     </if>
		</trim>
	</select>

</mapper>