@charset "utf-8";
@import "../layui/css/layui.css";
/* head */
.logo {
    position: absolute;
    left: 0;
    top: 18px;
    color: white;
    font-size: 22px;
}

.logo img {
    width: 110px;
    height: 36px;
}

.logo small {
    font-size: 10px;
    position: relative;
    top: -5px;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 2px 8px;
    vertical-align: super;
    border-radius: 57px;
    background: #7d8492;
}

.version {
    margin: 0;
    font-family: Titillium Web, sans-serif;
    color: #fff;
}

.responseJson {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 20px;
    color: #008000;
}

/* body */
.hide {
    display: none
}

.site-content {
    padding: 0 10px 0 10px
}

.parameter-text {
    width: 100%;
}

.method-type {
    float: right;
    padding: 0px 0px 5px 0px;
}

.method {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    text-align: center;
    padding: 7px;
    margin-right: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.type {
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    text-align: center;
    padding: 7px;
    margin-right: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.delete {
    background-color: #a41e22 !important;
}

.get {
    background-color: #1E9FFF !important;
}

.head {
    background-color: #ffd20f !important;
}

.options {
    background-color: #0f6ab4 !important;
}

.patch {
    background-color: #D38042 !important;
}

.post {
    background-color: #5FB878 !important;
}

.put {
    background-color: #c5862b !important;
}

.delete_font {
    color: #999999 !important;
}

.get_font {
    color: #1E9FFF !important;
}

.head_font {
    color: #ffd20f !important;
}

.options_font {
    color: #0f6ab4 !important;
}

.patch_font {
    color: #D38042 !important;
}

.post_font {
    color: #5FB878 !important;
}

.put_font {
    color: #c5862b !important;
}

.red_font {
    color: #f00 !important;
}

/*
.delete_body{backgroud-color:#faf5ee;}
.get_body{background-color: #ebf3f9;}
.head_body{background-color: #fcffcd;}
.options_body{background-color: #ebf3f9;}
.patch_body{background-color: #faf0ef;}
.post_body{background-color: #ebf7f0;}
.put_body{background-color: #faf5ee;}
*/

/*继承layui - start*/
.layui-side-scroll {
    width: 250px !important;
}

.layui-nav-tree {
    width: 230px !important;
}

.layui-layout-admin .layui-side {
    width: 230px !important;
    bottom: 0px;
}

.layui-body {
    left: 230px !important;
}

.layui-this a cite {
    color: #fff !important;
}

.layui-nav .layui-nav-child dd.layui-this a {
    background-color: #5FB878;
}

.layui-nav-tree .layui-nav-child a {
    height: 55px;
    line-height: 25px;
    color: #c2c2c2;
    border-bottom: 1px dashed;
}

.layui-nav-tree .layui-nav-bar, .layui-nav-child, .layui-nav-tree .layui-nav-child a:hover {
    background-color: #5FB878 !important;
    color: #f2f2f2 !important;
}

.layui-layout-admin .layui-body {
    bottom: 0px;
    overflow: hidden;
}

.layui-tab {
    margin: 10px 0 0;
}

.layui-tab-brief > .layui-tab-title .layui-this {
    color: #5FB878;
}

.layui-elem-field legend {
    font-size: 20px;
    font-weight: 300;
}

.layui-btn {
    background-color: #10a54a !important;
}

.layui-tab-content {
    height: calc(100vh - 180px);
    padding: 10px 0;
    overflow-y: auto;
    bottom: 10px;
    top: 60px;
    left: 10px;
    right: 10px;
}

.layui-field-title {
    margin: 15px 0 15px;
}

.layui-field-title .layui-field-box {
    padding: 20px 0;
}

.layui-field-title .field-box {
    padding: 10px 0 0;
}

.layui-colla-content {
    padding: 0 10px;
}

/*继承layui - end*/
.layui-legend-title {
    border-width: 1px;
    border-style: solid;
    padding: 0 10px 0;
    margin: 10px 0 20px;
}

.layui-legend-title legend {
    font-size: 14px;
    font-weight: 400;
}

.footer {
    line-height: 44px;
    text-align: center;
    background-color: #eee;
    color: #666;
}

.footer a {
    padding: 0 5px;
}

.api-url {
    position: absolute;
    width: 500px;
    right: 20px;
    top: 16px;
}

.api-url .btn-gourl {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #999999;
    cursor: pointer;
}

.api-url .btn-clearurl {
    position: absolute;
    right: 30px;
    top: 8px;
    color: #999999;
    cursor: pointer;
    display: none;
}

.api-quick {
    position: absolute;
    width: 200px;
    left: 230px;
    top: 16px;
}

.api-quick input, .api-url input {
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, .05);
    border: none 0;
    color: #ffffff;
    font-size: 12px;
}

/* Syntax highlighting for JSON objects */
ul.json-dict, ol.json-array {
    list-style-type: none;
    margin: 0 0 0 1px;
    border-left: 1px dotted #ccc;
    padding-left: 2em;
    font-size: 12px;
}

.json-string {
    color: #0B7500;
}

.json-literal {
    color: #1A01CC;
    font-weight: bold;
}

/* Toggle button */
a.json-toggle {
    position: relative;
    color: inherit;
    text-decoration: none;
}

a.json-toggle:focus {
    outline: none;
}

a.json-toggle:before {
    color: #aaa;
    content: "\25BC"; /* down arrow */
    position: absolute;
    display: inline-block;
    width: 1em;
    left: -1em;
}

a.json-toggle.collapsed:before {
    transform: rotate(-90deg); /* Use rotated down arrow, prevents right arrow appearing smaller than down arrow in some browsers */
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

/* Collapsable placeholder links */
a.json-placeholder {
    color: #aaa;
    padding: 0 1em;
    text-decoration: none;
}

a.json-placeholder:hover {
    text-decoration: underline;
}

