<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ukettle.system.mapper.MenuMapper">

	<insert id="insert" parameterType="U_ALL_Menu">
		insert into U_ALL_MENU (
		  id
		, pid
		, url
		, style
		, img
		, code
		, type
		, status
		, remark
		, creator
		, created
		)
		values (
		#{id},
		#{pid},
		#{url},
		#{style},
		#{img},
		#{code},
		#{type},
		#{status},
		#{remark},
		#{creator},
		#{created},
		)
	</insert>

	<delete id="delete" parameterType="U_ALL_Menu">
		delete from U_ALL_MENU where id = #{id}
	</delete>

	<update id="update" parameterType="U_ALL_Menu">
		update U_ALL_MENU
		<set>
			<if test="code != null and code != '' ">
				code = #{code},
        	</if>
			<if test="status != null and status != '' ">
				status = #{status}
			</if>
		</set>
		where id = #{id}
	</update>

	<select id="select" parameterType="U_ALL_Menu" resultType="U_ALL_Menu">
		<![CDATA[
			SELECT m.id
			     , m.pid
			     , m.url
			     , m.style
			     , m.img
			     , m.level
			     , m.code
			     , m.type
			     , m.status
			     , m.remark
			     , m.creator
			     , m.created
			FROM U_ALL_MENU
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null">
				id = #{id}
		    </if>
		</trim>
	</select>

	<select id="selectByWhere" parameterType="U_ALL_Menu" resultType="U_ALL_Menu"> 
		<![CDATA[
			SELECT id
			     , pid
			     , url
			     , style
			     , img
			     , level
			     , code
			     , type
			     , status
			     , remark
			     , creator
			     , created
			FROM U_ALL_MENU
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null ">
				id = #{id}
        	</if>
			<if test="pid != null ">
				and pid = #{pid}
        	</if>
			<if test="uid != null ">
				and uid = #{uid}
        	</if>
			<if test="code != null ">
				and code = #{code}
        	</if>
			<if test="type != null ">
				and type = #{type}
        	</if>
			<if test="status != null ">
				and status = #{status}
			</if>
		</trim>
	</select>

	<select id="selectById" parameterType="U_ALL_Menu" resultType="U_ALL_Menu"> 
		<![CDATA[
			SELECT m.id
			     , m.pid
			     , m.url
			     , m.style
			     , m.img
			     , m.level
			     , m.code
			     , m.type
			     , m.status
			     , m.remark
			     , m.creator
			     , m.created
			FROM
			  U_ALL_MENU m
			LEFT JOIN U_ALL_VIEW v
			ON v.mid = m.id
		  ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="uid != null ">
				v.uid = #{uid}
			</if>
			<if test="status != null ">
				AND m.status = #{status}
			</if>
			<if test="type != null ">
				AND m.type = #{type}
			</if>
			<if test="id != null ">
				AND ( m.pid = #{id}
			</if>
			 <![CDATA[	
			  OR m.pid IN (
				  SELECT m.id
				  FROM
				    U_ALL_MENU m
				  LEFT JOIN U_ALL_VIEW v
				  ON v.mid = m.id
			 ]]>
			<trim prefix="WHERE" prefixOverrides="AND|OR">
				<if test="uid != null ">
					v.uid = #{uid}
				</if>
				<if test="status != null ">
					AND m.status = #{status}
				</if>
				<if test="type != null ">
					AND m.type = #{type}
				</if>
				<if test="id != null ">
					AND m.pid = #{id}
				</if>
			<![CDATA[ ) ]]>
			</trim>
		<![CDATA[ ) ]]>
		</trim>
		ORDER BY m.sort ASC
	</select>

	<select id="selectByPid" parameterType="U_ALL_Menu" resultType="U_ALL_Menu"> 
		<![CDATA[
			SELECT m.id
			     , m.pid
			     , m.url
			     , m.style
			     , m.img
			     , m.level
			     , m.code
			     , m.type
			     , m.status
			     , m.remark
			     , m.creator
			     , m.created
			FROM
			  U_ALL_MENU m
			LEFT JOIN U_ALL_VIEW v
			ON v.mid = m.id
		  ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="uid != null ">
				v.uid = #{uid}
			</if>
			<if test="status != null ">
				AND m.status = #{status}
			</if>
			<if test="type != null ">
				AND m.type = #{type}
			</if>
			<if test="pid != null ">
				AND ( m.pid = #{pid} or m.id = #{pid} )
			</if>
		</trim>
		ORDER BY m.sort ASC
	</select>

	<select id="selectByUid" parameterType="U_ALL_Menu" resultType="U_ALL_Menu"> 
		<![CDATA[
			SELECT m.id
			     , m.pid
			     , m.url
 				 , CASE WHEN m.id = '51ff0d7d975f475110fe1100' THEN null ELSE m.style END style
			     , CASE WHEN m.id = '51ff0d7d975f475110fe1100' THEN 'Html/images/icons/0-1.png' ELSE m.img END img
			     , m.level
			     , m.code
			     , m.type
			     , m.status
			     , m.remark
			     , m.creator
			     , m.created
			FROM
			  U_ALL_MENU m
			LEFT JOIN U_ALL_VIEW v
			ON v.mid = m.id
		  ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="uid != null ">
				v.uid = #{uid}
			</if>
			<if test="status != null ">
				AND m.status = #{status}
			</if>
			<if test="type != null ">
				AND m.type = #{type}
			</if>
			<if test="id != null ">
				AND m.pid = #{id}
			</if>
			 <![CDATA[	
			  OR m.pid IN (
				  SELECT m.id
				  FROM
				    U_ALL_MENU m
				  LEFT JOIN U_ALL_VIEW v
				  ON v.mid = m.id
			 ]]>
				<trim prefix="WHERE" prefixOverrides="AND|OR">
					<if test="uid != null ">
						v.uid = #{uid}
				</if>
					<if test="status != null ">
						AND m.status = #{status}
				</if>
					<if test="type != null ">
						AND m.type = #{type}
				</if>
					<if test="id != null ">
						AND m.pid = #{id}
				</if>
				<![CDATA[ )]]>
				</trim>
			<if test="uid != null ">
				AND v.uid = #{uid}
			</if>
			<if test="status != null ">
				AND m.status = #{status}
			</if>
		</trim>
		ORDER BY m.sort ASC
	</select>

</mapper>