<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ukettle.system.mapper.RoleMapper">

	<insert id="insert" parameterType="U_ALL_Role">
		insert into U_ALL_ROLE (
			id
			, name
			, type
			, status
			, description
		)
		values (
			#{id},
			#{name},
			#{type},
			#{status},
			#{description}
		)
	</insert>

	<delete id="delete" parameterType="U_ALL_Role">
		delete from U_ALL_ROLE where id =
		#{id}
	</delete>

	<update id="update" parameterType="U_ALL_Role">
		update U_ALL_ROLE
		<set>
			<if test="name != null and name != '' ">
				name = #{name},
        	</if>
			<if test="type != null and type != '' ">
				type = #{type},
        	</if>
			<if test="status != null and status != '' ">
				status = #{status},
			</if>
			<if test="description != null and description != '' ">
				description = #{description}
        	</if>
		</set>
		where id = #{id}
	</update>

	<select id="select" parameterType="U_ALL_Role" resultType="U_ALL_Role">
		<![CDATA[
			SELECT id
		     , name
		     , type
		     , status
		     , description
			FROM U_ALL_ROLE
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null">
				id = #{id}
		    </if>
		</trim>
	</select>

	<select id="selectByWhere" parameterType="U_ALL_Role" resultType="U_ALL_Role"> 
		<![CDATA[
			SELECT  id
		     , name
		     , type
		     , status
		     , description
			FROM U_ALL_ROLE
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="name != null ">
				name = #{name},
        	</if>
			<if test="type != null ">
				type = #{type},
        	</if>
			<if test="status != null ">
				status = #{status},
			</if>
			<if test="description != null ">
				description = #{description}
        	</if>
		</trim>
	</select>

</mapper>